#social_icons {
	outline-style: none;
	margin: 0;
	padding: 0;
}
#social_icons li {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: relative;
	overflow: hidden;
}
#social_icons li a {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
}
#social_icons li:hover a {
	opacity: 1;
}
#social_icons li:before {
	content: '';
	top: 30px;
	position: absolute;
	height: 35px;
	width: 35px;
	z-index: 1;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
@media screen and (max-width: 480px) {
	#social_icons li a {
		opacity: 0.75;
	}
	#social_icons li:before {
		top: 0px;
	}
}
@media screen and (min-width: 960px) {
	#social_icons li {
		width: 50px;
		height: 50px;
	}
	#social_icons li:before {
		top: 45px;
		height: 50px;
		width: 50px;
	}
}
@media screen and (min-width: 1220px) {
	#social_icons li {
		width: 75px;
		height: 75px;
	}
	#social_icons li:before {
		top: 65px;
		height: 75px;
		width: 75px;
	}
}
#social_icons li:hover:before {
	top: 0px;
}
#social_icons .vk a {
	background: url('../img/icons/vk.svg');
}
#social_icons .vk:before {
	background-color: #4e76a4;
}
#social_icons .facebook a {
	background: url('../img/icons/facebook.svg');
}
#social_icons .facebook:before {
	background-color: #3d5a99;
}
#social_icons .vimeo a {
	background: url('../img/icons/vimeo.svg');
}
#social_icons .vimeo:before {
	background-color: #20b6ff;
}
#social_icons .youtube a {
	background: url('../img/icons/youtube.svg');
}
#social_icons .youtube:before {
	background-color: #eb5350;
}
#social_icons .twitter a {
	background: url('../img/icons/twitter.svg');
}
#social_icons .twitter:before {
	background-color: #6bacdf;
}
#social_icons .skype a {
	background: url('../img/icons/skype.svg');
}
#social_icons .skype:before {
	background-color: #20b6ff;
}
#social_icons .behance a {
	background: url('../img/icons/behance.svg');
}
#social_icons .behance:before {
	background-color: #1879fd;
}
