@import url("reset.css");
@import url("menu.css");
/* BASE */
:root {
	--white-color: #eeeeee;
	--black-color: #222222;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 200;
	color: var(--white-color);
}


body {
	background-color: var(--main-color);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
	width: 100%;
	height: 100%;
	padding: 1rem;
	margin: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* COLORS */
.main {
	fill: var(--main-color);
}

.white {
	fill: var(--white-color);
	color: var(--white-color);
}

.black {
	fill: var(--black-color);
	color: var(--black-color);;
}

.white-stroke {
	fill: none;
	stroke: var(--white-color);
	stroke-miterlimit: 10;
	stroke-width: 2
}


/* GRID */
.grid {
	display: grid;
	justify-items: stretch;
	align-items: stretch;
}

.grid  header, article, footer {
	display: grid;
	place-items: center;
}

.tab {
	display: grid;
	grid-auto-flow: column;
	justify-items: center;
	align-items: center;
}

/* TYPE   */
h1 {
	font-size: 5rem;
	font-style: normal;
	font-weight: 100;
	color: var(--white-color);
	display: block;
}



/* HEADER */
header {
	background-color: var(--main-color);
}

#logo {
	width: min(50%, 200px);
	display: block;
}


/* FOOTER  */
footer {
	background-color: var(--main-color);
	padding: 1rem;
	color: #FFFFFF;
}

/* SCROLL  */
*::-webkit-scrollbar {
	width: 10px;
	/* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: var(--main-color);
	/* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
	background-color: var(--white-color);
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
}


/* EFFECTS  */
.shadow {
	box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.center {
	justify-content: center;
	justify-content: baseline;
}

.icons {
	transform: scale(1);
	transition: all 0.1s;
	color: var(--light-color);
	text-shadow: 0 0 1px var(--light-color);
}
.icons:hover {
	transform: scale(1.1);
	text-shadow: 0 0 30px var(--light-color);
	color: var(--white-color);
}

/* FORM */

form {
	display: grid;
	gap: 1rem;
}

input, textarea {
	line-height: 2rem;
	padding: .5rem 1rem;
	border: solid 0 ;
	border-radius: 1rem;
	background-color: var(--white-color);
	color: var(--dark-color);
	font-size: 1.5rem;
}


button[type=submit] {
	padding: 1rem;
	cursor: pointer;
	border-radius: 1rem;
	color: var(--dark-color);
	font-size: 1.5rem;
}
button[type=submit]:hover {
	background-color: var(--second-color);
	color: var(--white-color);
}

.anons_string {
	font-size: 0.75rem !important;
	padding: 0.5rem !important;
	z-index: 999;
	position: absolute;
	bottom: 1rem;
	opacity: 0.75;
	background-color: rgba(28, 119, 189, 0.75);
	color: #FFF;
	width: 100%;
	opacity: .75;
	transition: all 1s ease-in-out;
}

#player:hover .anons_string {
	opacity: 0;
}