/* BASE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white-color: #FFFFFF;
	--black-color: #000000;
}

body {
	background-color: var(--main-color);
	font-family: Tahoma, Verdana, sans-serif;
	min-height: 100vh;
	width: 100%;
}
@media (min-width: 720px) {
.container {
	max-width: 66vw;
	width: 100%;
}
}

@media (max-width: 720px) {
	.container {
		width: 100%;
		max-width: 99vw;
	}
  }


/* COLORS */
.main {
	fill: var(--main-color);
}

.white {
	fill: var(--white-color);
	color: var(--white-color);
}

.black {
	fill: var(--black-color);
}

.white-stroke {
	fill: none;
	stroke: var(--white-color);
	stroke-miterlimit: 10;
	stroke-width: 2
}


/* GRID */
.grid {
	display: grid;
	grid-template-rows: 7vh 86vh 7vh;
	justify-items: stretch;
	align-items: stretch;
}

.grid  header, article, footer {
	display: grid;
	place-items: center;
}


/* TYPE   */
h1 {
	font-size: 5rem;
	font-style: normal;
	font-weight: 100;
	color: var(--white-color);
	display: block;
}


/* CONTENT */
article {
	overflow: auto;
	background-color: rgba(255,255,255, .666);
}

/* HEADER */
header {
	background-color: var(--main-color);
	z-index: 999;
}

#logo {
	width: 100%;
	max-width: 250px;
	display: block;
}


/* FOOTER  */
footer {
	background-color: var(--main-color);
	padding: 1rem;
	color: #FFFFFF;
}

/* SCROLL  */
*::-webkit-scrollbar {
	width: 10px;
	/* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: var(--main-color);
	/* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
	background-color: var(--white-color);
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
}


/* EFFECTS  */
.shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, .333);
}

.center {
	justify-content: center;
	justify-content: baseline;
}