<div class="grid-container">
    <div>
        <p>Александр Викторович Бабушкин</p>
    </div>
    <div class="tab">
        <a class="icons" href="https://vk.com/e0m_ru"><i class="fa-fw fa-brands fa-vk fa-2x" title="Vkontakte"></i></a>
        <a class="icons" href="tg://resolve?domain=e0m_ru"><i class="fa-fw fa-brands fa-telegram fa-2x" title="Telegramm"></i></a>
        <a class="icons" href="https://github.com/e0m-ru"><i class="fa-fw  fa-brands fa-github fa-2x" title="Git-Hub"></i></a>
    </div>
</div>