{% extends "e0m/base.html" %}

{% block content %}

<div>
    <h1 style="font-size: 1rem;">Извините, сайт в перманентной разработке...</h1>
<img src="https://img.hhcdn.ru/photo/518191211.jpeg?t=1706616933&amp;h=Z2s3l9NQ3o378LAbA_9CKQ" loading="lazy" alt=""
    width="100px">

        <h2>Бабушкин Александр Викторович</h2>

    <p>Рассматриваю предложения по работе Python Разработчик</p>
    <h3>Stak:</h3>
    <p>Python, JavaScript, HTML, Linux, Git, Nginx, SQL, Django, CSS</p>
</div>

{% endblock content%}